/* Markdown editor */
.TinyMDE div[class^="TM"] {
  position: relative;
  /*transition: padding-left 0.2s ease; / * causes the cursor to jump when a new line is created  */
  padding-left: calc(var(--line-num-width, 2em) + 10px);
}
.TMHR:before { 
  bottom: unset;
  left: unset;
  border-bottom: unset;
}
.TMHR:after { 
  content: '';
  position: absolute;
  bottom: 50%;
  left: 40%;
  border-bottom: 2px solid #808080;
  width: 20%;
  z-index:0;
}
  
.TinyMDE div[class^="TM"]::before, .TMH1::before, .TMH2::before {
  content: attr(data-line-num-view) "  ";
  position: absolute;
  left: 0;
  top: 0;
  color: gray;
  font-size: 0.8rem !important;
  font-weight: normal;
  background-color: #f0f0f0;
  border-right: 5px solid white;
  text-align: right;
  height: 100%;
  pointer-events: none;
  width: var(--line-num-width, 2em);
  box-sizing: border-box;
}
.TMH1 { margin-bottom: unset; padding-bottom: 8px;}
.TMH2 { margin-bottom: unset; padding-bottom: 4px;}
.TinyMDE {
  min-height: 50px;
  max-height: 500px;
  overflow: scroll; 
  resize: vertical;
}

.TMBlockquote {
  border-left: unset;
  font-style: italic;
  margin-left: unset;
  padding-left: calc(var(--line-num-width) + 15px) !important;
}
.TMBlockquote::before {
  font-style: normal;
}

.TMFootnoteRefLabel, .TMFootnoteLabel {
  color: #64005e;
  text-decoration-color: #64005e;
}
.TMFootnoteRefLabel {
  font-style: italic;
}
.TMFootnoteLabel {
  font-weight: bold;
}
.TMImage {
  text-decoration-color: #f2993b;
}
.TMImageDestination {
  text-decoration: underline;
  color: #f2993b;
}

/* help */
.helpsection {
  margin-top: 50px !important;
}
.comp-overview td { padding: 10px !important; border-top: 1px solid lightgray !important;}

.md-example table, .md-example tr, .md-example th, .md-example td {
  border: 1px solid lightgray !important;
  border-collapse: collapse;
}
.md-example th, .md-example td { width:75px; padding: 0 !important;}

.md-example .left { text-align:left;}
.md-example .center { text-align:center;}
.md-example .right { text-align:right;}

/* #30 fix display order with GVExport - defined in mde + wthb */
#le-ajax-modal, #wthb-modal {
  display:none;
  z-index:1060; /* div.modal-backdrop has z-index:1050 */
}