/* Enhanced links (XREF and external targets) in notes */
.linkicon {
    background-repeat: no-repeat !important;
    background-size: 16px 16px !important;
    padding: 0 8px !important;
    margin-left: 2px;
    display: unset !important;
}
.tv_box .linkicon {
    background-size: 12px 12px !important;
    padding: 0 6px !important;
}
h2 .linkicon {
    background-size: 20px 20px !important;
    padding: 0 10px !important;
}

.icon-wt-xref {
    text-decoration: underline dotted;
}
.icon-wt-xref-error {
    text-decoration: underline dotted;
    color: red;
}
.icon-wt-dia {
    background-image:
    url("./icons/wt-dia.png");
}

.icon-www {
    background-image:
    url("./icons/dornbirn_30x30.png");
}
.icon-compgen { /* also in index-wthb.css */
    background-image:
    url("./icons/compgen_32x32.png");
}
.icon-ewp {
    background-image:
    url("./icons/westpreussen-de.png");
}
.icon-fsft  {
    background-image:
    url("./icons/fsft_30x30.png");
}
.icon-wp {
    background-image:
    url("./icons/wikipedia.png");
}
.icon-osm {
    background-image:
    url("./icons/osm_30x30.png");
}
