/* Enhanced links (XREF and external targets) in notes */
.linkicon {
    background-repeat: no-repeat !important;
    background-size: 16px 16px !important;
    padding: 0 8px !important;
    margin-left: 2px;
    display: unset !important;
}
.tv_box .linkicon {
    background-size: 12px 12px !important;
    padding: 0 6px !important;
}
h2 .linkicon {
    background-size: 20px 20px !important;
    padding: 0 10px !important;
}

/* webtrees cross-references */
.icon-wt-xref {
    text-decoration: underline dotted;
}
strong.icon-wt-xref { background-color: lightyellow; } /* xref of actually displayed gedcom record */
.icon-wt-dia {
    background-image:
    url("./icons/wt-dia.png");
}

/* external targets */
.icon-www {
    background-image:
    url("./icons/dornbirn_30x30.png");
}
.icon-compgen { /* also in index-wthb.css */
    background-image:
    url("./icons/compgen_32x32.png");
}
.icon-ewp {
    background-image:
    url("./icons/westpreussen-de.png");
}
.icon-fsft  {
    background-image:
    url("./icons/fsft_30x30.png");
}
.icon-wp {
    background-image:
    url("./icons/wikipedia.png");
}
.icon-osm {
    background-image:
    url("./icons/osm_30x30.png");
}
.icon-wit {
    background-image:
    url("./icons/wikitree_32x32.png");
}
/* display faulty links */
.icon-error {
    color: red;
}
.icon-error::before {
    content: "❌";
    padding-right: 0.2em;
    margin-left: 0.1em;
    cursor: pointer;
}